[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/mustang-vim"]
	path = vim/bundle/mustang-vim
	url = https://github.com/croaker/mustang-vim.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/git-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "custom/themes/powerlevel9k"]
	path = custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "custom/plugins/base16-shell"]
	path = custom/plugins/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
